body {
    background-image: url("https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
}

.jumbotron {
    text-align: center;
    opacity: 0.7;
}

.well {
    text-align: center;
    opacity: 0.7;
}

.center {
    text-align: center;
    text-decoration: none;
    list-style-type: none; 
}